<div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="assets/img/damir-bosnjak.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
              <h5 class="title">Gasto XPTO</h5>
            </a>
            <p class="description">
              Gastos Doméstico
            </p>
          </div>
          <p class="description text-center">
            lorem ipsum no dollor lorem no ipsum dollor no lorem dolerm not isumps quantic no ipsum solanet dollor
          </p>
        </div>
        <div class="card-footer">
          <hr>
          <div class="button-container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-6 ml-auto">
                <h5>01
                  <br>
                  <small>Parcela</small>
                </h5>
              </div>
              <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                <h5>R$ 578,23
                  <br>
                  <small>Valor</small>
                </h5>
              </div>
              <div class="col-lg-3 mr-auto">
                <h5>10/05
                  <br>
                  <small>Venc.</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Registrar Pagamento</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Fonte de Pagamento</label>
                  <select class="form-control">
                    <option value="0">Selecione</option>
                    <option value="1">Dinheiro</option>
                    <option value="2">NuConta PF</option>
                    <option value="3">NuConta PJ</option>
                    <option value="4">Santander</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Data de Pagamento</label>
                  <input type="date" class="form-control" placeholder="dd/MM/yyyy">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Valor Original</label>
                  <input type="number" class="form-control" placeholder="R$ 0,00">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Valor Pago</label>
                  <input type="number" class="form-control" placeholder="R$ 0,00">
                </div>
              </div>
            </div>
           
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Observações</label>
                  <textarea class="form-control textarea"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-round pull-right">Confirmar Pagamento</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  