<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    Contas Avulsas Pendentes e Contas Fixas</h4>
                <p class="card-category">
                    Exibição das Despesas fixas e Gastos com pagamento pendente</p>
                <a type="submit" class="btn btn-outline-default pull-right button-search" href="#/pages/bills/add">novo gasto</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Nome
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Gênero
                            </th>
                            <th >
                                Valor
                            </th>
                            <th>
                                Ativo
                            </th>
                            <th style="text-align: right;">
                                Ações
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of rows">
                                <td>
                                    {{ item.name }}
                                </td>
                                <td>
                                    {{ item.type }}
                                </td>
                                <td>
                                    {{ item.expenseType }}
                                </td>
                                <td>
                                    {{ item.amount | currency: 'BRL' }}
                                </td>
                                <td>
                                    {{ item.active }}
                                </td>
                                <td style="text-align: right;">
                                    <i style="cursor: pointer;padding-right: 5px;" class="nc-icon nc-ruler-pencil"></i>
                                    <i style="cursor: pointer;" class="nc-icon nc-simple-remove"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>