<div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="nc-icon nc-globe text-warning"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category">Dívida Mês</p>
                    <p class="card-title"> {{ dashboardData.stats.debtMonth | currency: 'BRL' }}
                      <p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-refresh"></i> Update Now
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="nc-icon nc-money-coins text-success"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category">Pago Mês</p>
                    <p class="card-title">{{ dashboardData.stats.paymentInMonth | currency: 'BRL' }}
                      <p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-calendar-o"></i> Last day
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="nc-icon nc-vector text-danger"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category">Total Mês</p>
                    <p class="card-title"> {{dashboardData.stats.totalDebt | currency: 'BRL'}}
                      <p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-clock-o"></i> In the last hour
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="nc-icon nc-alert-circle-i text-danger"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category">Em Atraso</p>
                    <p class="card-title">{{dashboardData.stats.overdue}}
                      <p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-refresh"></i> Update now
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Vencimentos Próximos</h5>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
            <li *ngFor="let item of dashboardData.upcomingMaturities">
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-ms-7 col-7">
                  {{ item.name }}
                  <div class="row">
                    <div class="col-md-4">
                      <span [ngClass]="{ 'text-danger': item.overdue, 'text-success': !item.overdue }">
                        <small>{{ item.dueDate | date: 'dd/MM/yyyy' }}</small>
                      </span>
                    </div>
                    <div class="col-md-4">
                      <span class="text-danger">
                        <small>{{ item.amount | currency: 'BRL' }}</small>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon" [routerLink]="['../../budgets/payment', item.id]">
                    <i class="fa fa-money"></i>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Contas</h5>
        <p class="card-category"></p>
      </div>
      <div class="card-body">
        <canvas id="debtChart" width="400" height="100"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Categoria Mês</h5>
        <p class="card-category"></p>
      </div>
      <div class="card-body ">
        <canvas id="chartCategoryMonth"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Valores Gastos Por Categoria Para o Mês Atual
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Categoria Ano</h5>
        <p class="card-category"></p>
      </div>
      <div class="card-body ">
        <canvas id="chartCategoryYear"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Valores Gastos Por Categoria Para o Ano Atual
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">

  </div>
</div>
