<div class="row">
    <div *ngFor="let item of cashFlow" class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div
                class="card-body "
                [ngClass]="{ 'text-success': item.amount > 0, 'text-error': item.amount <= 0 }">
                <div class="row">
                    <div class="col-4 col-md-3">
                        <div class="icon-big text-center">
                            <i [class]="item.icon"></i>
                        </div>
                    </div>
                    <div class="col-8 col-md-9">
                        <div class="numbers">
                            <a class="card-category" href="#/pages/cash-flow/123">{{ item.name }}</a>
                            <p class="card-title">{{ item.amount | currency: 'BRL' }}
                                <p></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                            <div class="stats">
                                <i class="fa fa-refresh"></i>
                                {{ item.lastUpdate | date: 'dd/MM/yyyy HH:mm' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h5 class="card-title">Fluxo de Caixa Anual</h5>
                            <p class="card-category">Cada linha representa uma caixa</p>
                        </div>
                        <div class="card-body">
                            <canvas id="speedChart" width="400" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>