<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.linkedin.com/in/pauloderney/">
                        YourMind TI
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, Created by <a href="https://www.linkedin.com/in/pauloderney/">YourMind TI</a>
        </div>
    </div>
</footer>
